/.cargo/
/debian/*debhelper*
/debian/cosmic-player.substvars
/debian/cosmic-player/
/debian/files
/target/
/vendor/
/vendor.tar
.idea/
scripts/backup_stage/
scripts/logs/
scripts/ia/
scripts/backup_stage.tar.gz.gpg
